// Primary colors

$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;

// Secondary colors

$BanSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

// Font Family

$avenir-next: avenir next;

// Breakpoints

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;





