$color-bandsite-black: #323232;
$color-white: #FFFFFF;
$color-silver: #AFAFAF;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;
$color-bandsite-darkblack: #000000;



// Mobile padding before headlines

// $mobile-padding: 16px;

//in variables