@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: $avenir-next;
}

.header {
  @include header;
}

.hero {
  @include hero;
}

.main-content {
  @include main-content;
}

.footer {
  @include footer;
}


// NEW Addition for SPRINT-2



.comment__avatar {
  width: 36px;
  height: 32px;
border-radius: 50%;
background-color: #E5E5E5;
}