@use './partials/variables' as *;
@use './partials/mixins' as *;

html, body {
  margin: 0;
  font-family: $avenir-next;
}

// HEADER SECTION

.header {
  &__container {
    display: flex;
    flex-direction: column;
    background-color: $BandSite-Black;
    padding: 16px 16px;
   
  }

  &__logo-image {
    width: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  &__nav {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__nav-item {
    color: $White;
  }

  @include tablet {
    &__container {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 36px;

    }
  }

  @include desktop {
    &__container {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    
    }
  }
}

// HERO SECTION


.hero {
  &__image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 

  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;

  }

  &__overlay {
    position: absolute;
    bottom: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: $White;
    font-weight: 500;
    text-align: center;
    margin: 16px;
    font-size: 33px;
    margin-bottom: 16px;
  }
}

// MAIN CONTENT


.main-content {
  &__text {
    margin: 16px 16px;
  }

  &__title { 
    font-size: 33px;
    font-weight: 600;
    margin: 16px;
    margin-top: 24px;
  }

  &__gallery {
    background-color: $Alabaster;
    padding: 16px;
  }

  &__image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__image-container {
    width: 100%;

    @include tablet {
      width: calc(33.333% - 16px);
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  &__quote {
    font-size: 24px;
    font-weight: 600;
  }

  &__large-text {
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
  }
}



// FOOTER SECTION


.footer {
  background-color: $BandSite-Black; 
  color: $White; 
  padding: 24px 16px;

  &__social {
    &-list {
      list-style: none;
    }
}

@include tablet {
&__container {
  display: flex;
  flex-direction: row;

}
}

// &__logo {
//   position: relative;
// }


}


