*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: avenir next;
}

.header__container {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 36px;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding: 48px;
  }
}
.header__logo-image {
  width: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header a {
  text-decoration: none;
  color: #ffffff;
}
.header__nav {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 80px;
  list-style-type: none;
  padding-left: 0;
  margin: 16px 0 0;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    margin: 0;
  }
}
.header__nav-item {
  color: #ffffff;
}
.header__nav-link--current {
  border-bottom: 0.2rem solid #ffffff;
}
@media screen and (min-width: 768px) {
  .header__nav-wrapper {
    position: absolute;
    right: 0;
    left: 0;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
.hero__title--bees {
  width: 100%;
  color: #ffffff;
  font-weight: 600;
  margin: 0 0 16px 0;
  font-size: 48px;
  padding-top: 200px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .hero__title--bees {
    padding-top: 200px;
    padding-left: 0px;
    margin: 68px 56px 56px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title--bees {
    margin: 68px 56px 56px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 70vh;
  }
}
.hero__image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero__image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__iframe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.hero__iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.hero__content {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero__content {
    padding: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__content {
    flex-direction: row;
    align-items: center;
    padding: 24rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text-container {
    flex: 1;
    padding-right: 2rem;
  }
}
.hero__text {
  position: relative;
  max-width: 80%;
  margin-bottom: 2rem;
  color: #ffffff;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    max-width: 60%;
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    max-width: 100%;
    font-size: 20px;
  }
}
.hero__title {
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  margin: 0 0 16px 0;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
.hero__title--2 {
  width: 100%;
  color: #ffffff;
  font-weight: 600;
  margin: 0 0 16px 0;
  font-size: 33px;
}
@media screen and (min-width: 768px) {
  .hero__title--2 {
    font-size: 40px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title--2 {
    font-size: 48px;
    margin-bottom: 32px;
  }
}

.main-content__text {
  margin-bottom: 0;
}
.main-content__title {
  font-size: 33px;
  font-weight: 600;
  margin-top: 24px;
  padding-left: 16px;
}
.main-content__title-about {
  padding-right: 16px;
  margin: 48px 36px 36px 0;
}
@media screen and (min-width: 768px) {
  .main-content__title {
    font-size: 48px;
    margin: 0 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .main-content__title {
    font-size: 68px;
    margin: 68px 56px 56px;
  }
}
.main-content__gallery {
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .main-content__gallery {
    padding: 10px 48px 48px;
  }
}
.main-content__image-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .main-content__image-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.main-content__image-container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-content__image-container {
    width: calc(33.333% - 16px);
  }
}
.main-content__image {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content__quote {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  margin: 16px;
}
@media screen and (min-width: 768px) {
  .main-content__quote {
    margin: 48px 140px;
  }
}
@media screen and (min-width: 1280px) {
  .main-content__quote {
    margin: 90px 200px;
    font-size: 33px;
  }
}
.main-content__large-text {
  font-size: 24px;
  font-weight: 400;
  margin: 24px 16px;
}
@media screen and (min-width: 768px) {
  .main-content__large-text {
    margin: 48px 140px;
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .main-content__large-text {
    margin-left: 200px;
    display: flex;
  }
}
.main-content__bandname {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  margin: 24px 16px;
}
@media screen and (min-width: 768px) {
  .main-content__bandname {
    margin: 48px 140px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .main-content__bandname {
    font-size: 33px;
    margin-left: 200px;
  }
}
.main-content .product-form__button {
  background: purple;
  color: #ffffff;
  font-size: 3px;
  padding: 0.5rem;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem;
  }
}
.footer__information-item--link {
  text-decoration: none;
  color: #ffffff;
}
.footer__email-link {
  text-decoration: none;
  color: #ffffff;
}
.footer__main-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
@media screen and (min-width: 768px) {
  .footer__main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6.25rem;
  }
}
.footer__logo {
  display: flex;
  padding-top: 1.875rem;
}
.footer__section {
  display: flex;
  flex-direction: column;
}
.footer__title {
  font-size: 2.0625rem;
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.footer__image-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  gap: 3.75rem;
  padding-bottom: 1rem;
}
.footer__copyright {
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer__container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container-2 {
    gap: 2.9375rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__container-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.footer__information-item-space {
  margin-bottom: 0;
  margin-top: 0;
}

.shows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .shows {
    flex-direction: row;
  }
}
.shows__title {
  font-size: 32px;
  font-weight: 600;
  padding: 16px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding-top: 24px;
    padding-left: 48px;
  }
}
.shows__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
}
@media screen and (min-width: 768px) {
  .shows__container {
    padding-top: 24px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
.shows__header {
  display: flex;
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__header {
    display: flex;
    padding: 0 18px;
  }
}
@media screen and (min-width: 1280px) {
  .shows__header {
    display: flex;
    padding: 0 18px;
  }
}
.shows__new {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e1e1;
  transition: background-color 0.3s ease;
}
@media screen and (min-width: 320px) {
  .shows__new {
    padding: 16px;
  }
}
@media screen and (min-width: 768px) {
  .shows__new {
    padding: 24px 18px;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .shows__new {
    padding: 24px 18px;
  }
}
.shows__new:hover {
  background-color: #e1e1e1;
}
.shows__date, .shows__venue, .shows__location {
  color: #afafaf;
  font-weight: 600;
}
@media screen and (min-width: 320px) {
  .shows__date, .shows__venue, .shows__location {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .shows__date, .shows__venue, .shows__location {
    flex: 1;
    margin-right: 24px;
  }
}
.shows__date-actual, .shows__venue-actual, .shows__location-actual {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .shows__date-actual, .shows__venue-actual, .shows__location-actual {
    flex: 1;
    margin-right: 24px;
    margin-bottom: 0;
  }
}
.shows__date-actual {
  font-weight: 600;
}
.shows__venue-actual, .shows__location-actual {
  font-weight: 300;
}
.shows__button {
  width: 100%;
  align-self: stretch;
  padding: 24px;
  background-color: #323232;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.shows__button:hover {
  background-color: #191919;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: auto;
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  .shows__mobile-labels {
    display: none;
  }
}

.comment__avatar {
  width: 36px;
  height: 32px;
  border-radius: 50%;
  background-color: #E5E5E5;
}/*# sourceMappingURL=shows.css.map */